In [57]:
import json
import pandas as pd
import numpy as np
with open('irisCG.json') as f:
    data=json.load(f)

In [58]:
df=pd.DataFrame(data['values'])
centroids=df.groupby(['class']).mean()
centroids

              x         y         z
class
0     -2.642415  0.190885  0.013581
1      0.533207 -0.245550 -0.118325
2      2.109209  0.054665  0.104744

In [59]:
centroids.applymap(lambda x: x+np.random.uniform(0,2))

              x         y         z
class
0     -1.951768  1.413508  1.943096
1      0.706102  0.965831  0.910620
2      2.210577  1.282366  1.073053

In [60]:
centroids.to_json('centroids.json','split')